ul
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;  
/*border: solid 5px white; */  
}

:root {--clr: #222327;}

body
{
display: flex ;  
justify-content:right;
align-items:flex-start;
min-height: 100vh;
background: var(--clr);
/*border: solid 5px white;*/
}


.navigation
{
position: relative;
width: 408px;
height: 70px;
background: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
margin-top: 28px;
}

.navigation ul
{
display: flex;
width: 350px;
}

.navigation ul li
{
position: relative;
list-style: none;
width: 70px;
height: 70px;
z-index: 1;
/*border: solid 5px rgb(134, 30, 30);*/
}

.navigation ul li a
{
position: relative;    
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
text-align: center;
font-weight: bold;
}

.navigation ul li a .icon
{
position: relative;
display: block;
line-height: 75px;
font-size: 1.5em;
text-align: center;
transition: 0.5s;
color: var(--clr);
/*border: solid 5px rgb(119, 40, 40);*/
}

.navigation ul li.active a .icon
{
transform: translatey(-32px);    
}

.navigation ul li a .text
{
position: absolute;
color: var(--clr);  
font-weight: 400;
font-size: 0.75em;
letter-spacing: 0.05em;
transition: 0.5s;
opacity: 0;
transform: translateY(20px);
}

.navigation ul li.active a .text
{
opacity: 1;
transform: translateY(17px);
}

.indicator
{
position: absolute;
transform: translateY(-4.8px) translateX(-6px);
top: -50%;
width: 70px;
height: 70px;
background: #40cd7b;
border-radius: 50%; 
border: 6px solid var(--clr);
transition: 0.5s;
}

.indicator::before{
content: '';    
position: absolute;
top: 48.1%;
left: -18.1px;
width: 15px;
height: 20px;
background: white;
border-top-right-radius: 100%;
box-shadow: 1px -9px 0 0 var(--clr);

}

.indicator::after{
    content: '';    
    position: absolute;
    top: 48.1%;
    right: -18.1px;
    width: 15px;
    height: 20px;
    background: white;
    border-top-left-radius: 100%;
    box-shadow: -1px -9px 0 0 var(--clr);
    }

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
    transform: translateY(-4.8px) translateX(-6px);
}

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(64px * 1)) translateY(-4.8px);
}

.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(67px * 2)) translateY(-4.8px);
}

.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(68px * 3)) translateY(-4.8px);
}

.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(68.8px * 4)) translateY(-4.8px);
}








